/* Properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-box {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* Header */
.wrapper {
  width: 75%;
  margin: 0 auto;
}
