/* Properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-box {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  position: relative;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

p {
  line-height:25px;
}

/* Header */
/* Upper Navbar */
.upper-navbar-container {
  background-color: #eefeff;
}

.upper-navbar ul,
.main-navbar ul {
  display: inline-block;
  margin: 30px 0;
}

.list-position {
  float: left;
  width: 50%;
}

.left a {
  color: #33475b;
}

.right {
  text-align: right;
}

.upper-navbar li,
.main-navbar li {
  display: inline-block;
  list-style: none;
}

#left-option {
  border-right: 1px solid #000;
  margin-right: 20px;
}

.upper-navbar li a,
.main-navbar li a,
.main-title a {
  text-decoration: none;
}

#globe {
  margin-right: 5px;
}

#arrow-down {
  margin: 0 15px 0 5px;
}

.right li {
  margin-left: 30px;
}

#search {
  color: #22bec7;
}

/* Buttons */
.btn {
  color: #fff;
  background-color: #ff7a59;
  border: 2px solid #ff7a59;
  border-radius: 5px;
  padding: 12px;
  font-weight: 600;
}

.btn-white {
  color: #ff7a59;
  background-color: #fff;
}

/* Main Navbar */
#logo {
  margin: 20px 0;
  position: relative;
  float: left;
}

.second-right-list {
  float: left;
  position: absolute;
  width: 55%;
  right: 0;
}

.second-right-list li {
  padding-right: 10px;
}

.second-right-list li a {
  font-size: 15px;
  color: inherit;
}

.arrow-down {
  margin-right: 20px;
}

#last-arrow {
  margin-left: 15px;
}

/* Main sections */
/* Jumbotron */
#jumbotron {
  height: 550px;
  background-color: #fff2ee;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100px;
}

.main-title {
  float: left;
  position: absolute;
  width: 50%;
  transform: translateY(10%);
}

h1 {
  font-size: 45px;
  margin: 25px 0;
}

#jumbotron-btn {
  display: inline-block;
  margin: 25px 0;
}

#jumbotron-bottom-text {
  font-size: 12px;
}

/* Colored box */
#lightblue-section {
  height: 70px;
  background-color: #afebe4;
}

/* Section with columns */
#columns-section {
background-color: #f5f8fa;
}

/* Row with cube image */

.first-row {
  text-align: center;
}

.first-row img {
  height: 200px;
  margin-top: 40px;
}

.first-row h2 {
  margin: 5px 0 20px;
}

.first-row p {
  width: 70%;
  margin: auto auto 20px;
}
